# This is a template .gitignore file for git-managed WordPress projects.
#
# Fact: you don't want WordPress core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.
# As such this is intended to only cover items in the wp-content folder.
#
# Solution: this is intended to only cover items in the wp-content folder
# and so will selectively mark items to save.
#
# See the comments below for more info on how to add exceptions for your
# content.


# ignore everything to start
/*


# don't ignore the following specific files/folders
!.gitignore
!wp-config.php
!wp-settings.php


# don't ignore the plugins directories
!wp-content/
wp-content/*
!wp-content/plugins
!wp-content/mu-plugins/


# Ignore everything in the "themes" directory, except our custom theme
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/neudev/
